In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv',encoding='unicode_escape')
df

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26
...,...,...,...,...,...,...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative,night,31-45,Ghana,31072940,227540.0,137
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative,morning,46-60,Greece,10423054,128900.0,81
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive,noon,60-70,Grenada,112523,340.0,331
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive,night,70-100,Guatemala,17915568,107160.0,167
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral,morning,0-20,Guinea,13132795,246000.0,53

In [3]:
df.drop(df.columns[[0,2,4,5,6,7,8,9]], axis=1, inplace=True)
df

                                                    text sentiment
0                    I`d have responded, if I were going   neutral
1          Sooo SAD I will miss you here in San Diego!!!  negative
2                              my boss is bullying me...  negative
3                         what interview! leave me alone  negative
4       Sons of ****, why couldn`t they put them on t...  negative
...                                                  ...       ...
27476   wish we could come see u on Denver  husband l...  negative
27477   I`ve wondered about rake to.  The client has ...  negative
27478   Yay good for both of you. Enjoy the break - y...  positive
27479                         But it was worth it  ****.  positive
27480     All this flirting going on - The ATG smiles...   neutral

[27481 rows x 2 columns]

In [4]:
labels=df.sentiment.unique()

In [5]:
label_dict={}
for id,label in enumerate(labels):
    label_dict[label]=id

In [6]:
label_dict

{'neutral': 0, 'negative': 1, 'positive': 2}

In [7]:
df['label']=df.sentiment.replace(label_dict)

In [8]:
df

                                                    text sentiment  label
0                    I`d have responded, if I were going   neutral      0
1          Sooo SAD I will miss you here in San Diego!!!  negative      1
2                              my boss is bullying me...  negative      1
3                         what interview! leave me alone  negative      1
4       Sons of ****, why couldn`t they put them on t...  negative      1
...                                                  ...       ...    ...
27476   wish we could come see u on Denver  husband l...  negative      1
27477   I`ve wondered about rake to.  The client has ...  negative      1
27478   Yay good for both of you. Enjoy the break - y...  positive      2
27479                         But it was worth it  ****.  positive      2
27480     All this flirting going on - The ATG smiles...   neutral      0

[27481 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(df.index.values,df['label'].values,train_size=0.8,random_state=0)

In [10]:
df['data_type'] = 'not_set'
df.loc[X_train, 'data_type'] = 'train'
df.loc[X_val, 'data_type'] = 'val'

In [11]:
df['text']=df['text'].astype(str)

In [12]:
df

,text,sentiment,label,data_type
0,"I`d have responded, if I were going",neutral,0,train
1,Sooo SAD I will miss you here in San Diego!!!,negative,1,train
2,my boss is bullying me...,negative,1,train
3,what interview! leave me alone,negative,1,train
4,"Sons of ****, why couldn`t they put them on t...",negative,1,val
...,...,...,...,...
27476,wish we could come see u on Denver husband l...,negative,1,train
27477,I`ve wondered about rake to. The client has ...,negative,1,train
27478,Yay good for both of you. Enjoy the break - y...,positive,2,val
27479,But it was worth it ****.,positive,2,val
27480,All this flirting going on - The ATG smiles...,neutral,0,val

In [13]:
df[df.data_type=='train'].text.values

array([' I`d have responded, if I were going',
       ' Sooo SAD I will miss you here in San Diego!!!',
       'my boss is bullying me...', ...,
       'So I get up early and I feel good about the day. I walk to work and I`m feeling alright. But guess what... I don`t work today.',
       ' wish we could come see u on Denver  husband lost his job and can`t afford it',
       ' I`ve wondered about rake to.  The client has made it clear .NET only, don`t force devs to learn a new lang  #agile #ccnet'],
      dtype=object)

In [14]:
from transformers import BertTokenizer
from torch.utils.data import TensorDataset
import torch

c:\Users\KARAN\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [15]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased', 
                                          do_lower_case=True)

In [16]:
encoded_data_train = tokenizer.batch_encode_plus(
    df[df.data_type=='train'].text.values.tolist(), 
    add_special_tokens=True, 
    return_attention_mask=True, 
    max_length=256,
    padding='max_length',
    truncation=True,
    return_tensors='pt',
)

encoded_data_val = tokenizer.batch_encode_plus(
    df[df.data_type=='val'].text.values.tolist(), 
    add_special_tokens=True, 
    return_attention_mask=True, 
    max_length=256,
    truncation=True,
    padding='max_length', 
    return_tensors='pt'
)


input_ids_train = encoded_data_train['input_ids']
attention_masks_train = encoded_data_train['attention_mask']
labels_train = torch.tensor(df[df.data_type=='train'].label.values)

input_ids_val = encoded_data_val['input_ids']
attention_masks_val = encoded_data_val['attention_mask']
labels_val = torch.tensor(df[df.data_type=='val'].label.values)

In [17]:
train_data=TensorDataset(input_ids_train,attention_masks_train,labels_train)
val_data=TensorDataset(input_ids_val,attention_masks_val,labels_val)

In [18]:
from transformers import BertForSequenceClassification
model = BertForSequenceClassification.from_pretrained("bert-base-uncased",
                                                      num_labels=len(label_dict),
                                                      output_attentions=False,
                                                      output_hidden_states=False)

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [19]:
from torch.utils.data import DataLoader,RandomSampler,SequentialSampler
train_loader=DataLoader(
    train_data,
    sampler=RandomSampler(train_data),
    batch_size=4
)

val_loader=DataLoader(
    val_data,
    sampler=SequentialSampler(val_data),
    batch_size=4
)

In [20]:
from transformers import get_linear_schedule_with_warmup
from torch.optim import AdamW

optimizer=AdamW(
    model.parameters(),
    lr=1e-5,
    eps=1e-8
)

epochs=5

scheduler=get_linear_schedule_with_warmup(
    optimizer,
    num_warmup_steps=0,
    num_training_steps=len(train_data)*epochs
)

In [21]:
device = torch.device('cuda')
model.to(device)
print(device)

cuda

In [22]:
import numpy as np
def eval(val_loader,model):
    model.eval()
    loss_val_total=0
    preds,true=[],[]
    
    for batch in val_loader:
        batch=tuple(b.to(device) for b in batch)
        inputs = {'input_ids':      batch[0],
                  'attention_mask': batch[1],
                  'labels':         batch[2],
                 }
        
        with torch.no_grad():
            outputs=model(**inputs)
            
        loss=outputs[0]
        logits=outputs[1]
        loss_val_total+=loss.item()
        logits=logits.detach().cpu().numpy()
        labels=inputs['labels'].cpu().numpy()
        preds.append(logits)
        true.append(labels)
        
    loss_val_avg=loss_val_total/len(val_loader)
    predictions=np.concatenate(preds,axis=0)
    true_vals=np.concatenate(true,axis=0)
    
    return loss_val_avg,predictions,true_vals

In [138]:
from tqdm import tqdm
for epoch in range(1,epochs+1):
    model.train()
    loss_train_total=0
    progress_bar = tqdm(train_loader,desc='Epoch {:1d}'.format(epoch), leave=False, disable=False)
    for batch in progress_bar:

        model.zero_grad()
        
        batch = tuple(b.to(device) for b in batch)
        
        inputs = {'input_ids':      batch[0],
                  'attention_mask': batch[1],
                  'labels':         batch[2],
                 }       

        outputs = model(**inputs)
        
        loss = outputs[0]
        loss_train_total += loss.item()
        loss.backward()

        torch.nn.utils.clip_grad_norm_(model.parameters(), 1.0)

        optimizer.step()
        scheduler.step()
        
        progress_bar.set_postfix({'training_loss': '{:.3f}'.format(loss.item()/len(batch))})
    torch.save(model.state_dict(), f'finetuned_BERT_epoch_{epoch}.model')
        
    tqdm.write(f'\nEpoch {epoch}')
    
    loss_train_avg = loss_train_total/len(train_loader)             
    tqdm.write(f'Training loss: {loss_train_avg}')
    
    val_loss, predictions, true_vals = eval(val_loader)
    tqdm.write(f'Validation loss: {val_loss}')

Epoch 1
Training loss: 1.1087568206265244
Validation loss: 1.1073771828738126

Epoch 2
Training loss: 1.1035335373561803
Validation loss: 1.0943231875246222

Epoch 3
Training loss: 1.0946122174852106
Validation loss: 1.0898548677617854

Epoch 4
Training loss: 1.0907055499164993
Validation loss: 1.0901057242480192

Epoch 5
Training loss: 1.0898382831825786
Validation loss: 1.0943078843030063

In [23]:
model=BertForSequenceClassification.from_pretrained(
    'bert-base-uncased',
    num_labels=len(label_dict),
    output_attentions=False,
    output_hidden_states=False
)
 
model.to(device)

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

BertForSequenceClassification(
  (bert): BertModel(
    (embeddings): BertEmbeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(512, 768)
      (token_type_embeddings): Embedding(2, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (encoder): BertEncoder(
      (layer): ModuleList(
        (0-11): 12 x BertLayer(
          (attention): BertAttention(
            (self): BertSelfAttention(
              (query): Linear(in_features=768, out_features=768, bias=True)
              (key): Linear(in_features=768, out_features=768, bias=True)
              (value): Linear(in_features=768, out_features=768, bias=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
            (output): BertSelfOutput(
              (dense): Linear(in_features=768, out_features=768, bias=True)
              (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
              (dropout): Dropout(p=0.1, inplace=False)
            )
          )
          (intermediate): BertIntermediate(
            (dense): Linear(in_features=768, out_features=3072, bias=True)
            (intermediate_act_fn): GELUActivation()
          )
          (output): BertOutput(
            (dense): Linear(in_features=3072, out_features=768, bias=True)
            (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (pooler): BertPooler(
      (dense): Linear(in_features=768, out_features=768, bias=True)
      (activation): Tanh()
    )
  )
  (dropout): Dropout(p=0.1, inplace=False)
  (classifier): Linear(in_features=768, out_features=3, bias=True)
)

In [40]:
model.load_state_dict(torch.load('finetuned_BERT_epoch_2.model',map_location=torch.device('cpu')))

In [41]:
loss,predictions,true_vals=eval(val_loader,model)

In [ ]:
predictions

array([[-0.94487095,  2.4501007 , -2.4328873 ],
       [ 3.0208707 , -1.7925887 ,  0.409608  ],
       [-1.245395  ,  2.8607914 , -2.7080884 ],
       ...,
       [-0.13207848, -2.0695374 ,  3.5249124 ],
       [-1.0361273 , -2.475614  ,  3.9253955 ],
       [-0.3563956 , -2.541143  ,  3.703467  ]], dtype=float32)

In [ ]:
preds_flat = np.argmax(predictions, axis=1).flatten()
preds_flat

array([1, 0, 1, ..., 2, 2, 2], dtype=int64)

In [ ]:
true_vals

array([1, 0, 1, ..., 2, 2, 0], dtype=int64)

In [ ]:
def accuracy_per_class(preds, labels):
    label_dict_inverse = {v: k for k, v in label_dict.items()}
    
    preds_flat = np.argmax(preds, axis=1).flatten()
    labels_flat = labels.flatten()

    for label in np.unique(labels_flat):
        y_preds = preds_flat[labels_flat==label]
        y_true = labels_flat[labels_flat==label]
        print(f'Class: {label_dict_inverse[label]}')
        print(f'Accuracy: {len(y_preds[y_preds==label])}/{len(y_true)}\n')

In [ ]:
accuracy_per_class(predictions, true_vals)

Class: neutral
Accuracy: 1571/2195

Class: negative
Accuracy: 1230/1563

Class: positive
Accuracy: 1501/1739

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(true_vals,preds_flat))

              precision    recall  f1-score   support

           0       0.76      0.72      0.74      2195
           1       0.80      0.79      0.79      1563
           2       0.80      0.86      0.83      1739

    accuracy                           0.78      5497
   macro avg       0.78      0.79      0.79      5497
weighted avg       0.78      0.78      0.78      5497